In [1]:
import pandas as pd
import QuantLib as ql
import datetime as dt

In [2]:
bond_schedule = pd.read_csv("exampleMBONO.csv", parse_dates = ['Date'])
bond_schedule['Days'] = (bond_schedule['Date'] - bond_schedule['Date'].shift(1)).dt.days

In [3]:
bond_schedule

         Date    Coupon  Principal   Days
0  2011-06-23     0.000          0    NaN
1  2011-12-22  3918.056          0  182.0
2  2012-06-21  3918.056          0  182.0
3  2012-12-20  3918.056          0  182.0
4  2013-06-20  3918.056          0  182.0
5  2013-12-19  3918.056          0  182.0
6  2014-06-19  3918.056          0  182.0
7  2014-12-18  3918.056          0  182.0
8  2015-06-18  3918.056          0  182.0
9  2015-12-17  3918.056          0  182.0
10 2016-06-16  3918.056          0  182.0
11 2016-12-15  3918.056          0  182.0
12 2017-06-15  3918.056          0  182.0
13 2017-12-14  3918.056          0  182.0
14 2018-06-14  3918.056          0  182.0
15 2018-12-13  3918.056          0  182.0
16 2019-06-13  3918.056          0  182.0
17 2019-12-11  3896.528          0  181.0
18 2020-06-11  3939.583          0  183.0
19 2020-12-10  3918.056          0  182.0
20 2021-06-10  3918.056          0  182.0
21 2021-12-09  3918.056          0  182.0
22 2022-06-09  3918.056          0  182.0
23 2022-12-08  3918.056          0  182.0
24 2023-06-08  3918.056          0  182.0
25 2023-12-07  3918.056          0  182.0
26 2024-06-06  3918.056          0  182.0
27 2024-12-05  3918.056          0  182.0
28 2025-06-05  3918.056          0  182.0
29 2025-12-04  3918.056          0  182.0
30 2026-06-04  3918.056          0  182.0
31 2026-12-03  3918.056          0  182.0
32 2027-06-03  3918.056          0  182.0
33 2027-12-02  3918.056          0  182.0
34 2028-06-01  3918.056          0  182.0
35 2028-11-30  3918.056          0  182.0
36 2029-05-31  3918.056          0  182.0
37 2029-11-29  3918.056          0  182.0
38 2030-05-30  3918.056          0  182.0
39 2030-11-28  3918.056          0  182.0
40 2031-05-29  3918.056     100000  182.0

In [4]:
convention = ql.Unadjusted
calendar = ql.Mexico()
tenor = ql.Period(ql.Semiannual)
rule = ql.DateGeneration.Backward
schedule = ql.Schedule(bond_schedule['Date'].apply(ql.Date().from_date), calendar, convention,
                      convention, tenor, rule, False)

In [5]:
day_count = ql.Actual360()
settlement_days = 2
face_value = sum(bond_schedule['Principal'])
coupons = ((360 / bond_schedule['Days']) * bond_schedule['Coupon'] / face_value).dropna().values
bond = ql.FixedRateBond(settlement_days, face_value, schedule, coupons, day_count)

In [6]:
for d in schedule.dates(): print(d)

June 23rd, 2011
December 22nd, 2011
June 21st, 2012
December 20th, 2012
June 20th, 2013
December 19th, 2013
June 19th, 2014
December 18th, 2014
June 18th, 2015
December 17th, 2015
June 16th, 2016
December 15th, 2016
June 15th, 2017
December 14th, 2017
June 14th, 2018
December 13th, 2018
June 13th, 2019
December 11th, 2019
June 11th, 2020
December 10th, 2020
June 10th, 2021
December 9th, 2021
June 9th, 2022
December 8th, 2022
June 8th, 2023
December 7th, 2023
June 6th, 2024
December 5th, 2024
June 5th, 2025
December 4th, 2025
June 4th, 2026
December 3rd, 2026
June 3rd, 2027
December 2nd, 2027
June 1st, 2028
November 30th, 2028
May 31st, 2029
November 29th, 2029
May 30th, 2030
November 28th, 2030
May 29th, 2031

In [7]:
for c in bond.cashflows(): print(c.date(), c.amount())

December 22nd, 2011 3918.055999999992
June 21st, 2012 3918.055999999992
December 20th, 2012 3918.055999999992
June 20th, 2013 3918.055999999992
December 19th, 2013 3918.055999999992
June 19th, 2014 3918.055999999992
December 18th, 2014 3918.055999999992
June 18th, 2015 3918.055999999992
December 17th, 2015 3918.055999999992
June 16th, 2016 3918.055999999992
December 15th, 2016 3918.055999999992
June 15th, 2017 3918.055999999992
December 14th, 2017 3918.055999999992
June 14th, 2018 3918.055999999992
December 13th, 2018 3918.055999999992
June 13th, 2019 3918.055999999992
December 11th, 2019 3896.527999999999
June 11th, 2020 3939.582999999991
December 10th, 2020 3918.055999999992
June 10th, 2021 3918.055999999992
December 9th, 2021 3918.055999999992
June 9th, 2022 3918.055999999992
December 8th, 2022 3918.055999999992
June 8th, 2023 3918.055999999992
December 7th, 2023 3918.055999999992
June 6th, 2024 3918.055999999992
December 5th, 2024 3918.055999999992
June 5th, 2025 3918.055999999992
December 4th, 2025 3918.055999999992
June 4th, 2026 3918.055999999992
December 3rd, 2026 3918.055999999992
June 3rd, 2027 3918.055999999992
December 2nd, 2027 3918.055999999992
June 1st, 2028 3918.055999999992
November 30th, 2028 3918.055999999992
May 31st, 2029 3918.055999999992
November 29th, 2029 3918.055999999992
May 30th, 2030 3918.055999999992
November 28th, 2030 3918.055999999992
May 29th, 2031 3918.055999999992
May 29th, 2031 100000.0

In [8]:
bond.accruedAmount(ql.Date(7,9,2011))

1.636111296703291

In [9]:
for c in [ql.BondFunctions.previousCouponRate(bond),
ql.BondFunctions.nextCouponRate(bond),
ql.BondFunctions.accrualStartDate(bond),
ql.BondFunctions.accrualEndDate(bond),
ql.BondFunctions.accrualPeriod(bond),
ql.BondFunctions.accrualDays(bond),
ql.BondFunctions.accruedPeriod(bond),
ql.BondFunctions.accruedDays(bond),
ql.BondFunctions.accruedAmount(bond)]: print(c)

0.07750000879120879
0.07750000879120879
June 9th, 2022
December 8th, 2022
0.5055555555555555
182
0.41944444444444445
151
3.250694813186805

In [10]:
bond.bondYield(88.25, day_count, ql.Compounded, ql.Semiannual)

0.09785508557081224